@charset "utf-8";

body {
	font-family: Arial Narrow;
	font-size: 14px;
	color: #000000;
	background-color:#eeeeee;
}

.separador {
	background-color:#eeeeee;
}

.tb1 {
	border-collapse:collapse;
	border:thin solid #cccccc;
	width: 100%;
}

.tr1 {
	font-size: 12px;
	font-weight: normal;
	text-align: left;
	background-color: #ffffff;
	vertical-align: text-top;
}

.tr1_alt {
	font-size: 12px;
	font-weight: normal;
	text-align: left;
	background-color: #efefef;
	vertical-align: text-top;
	cursor: pointer;
}

.tr2 {
	color:#666666;
	font-size: 12px;
	font-weight: normal;
	text-align: left;
	background-color: #ffffff;
	vertical-align: text-top;
	cursor: pointer;
}

.tr2_alt {
	color:#666666;
	font-size: 12px;
	font-weight: normal;
	text-align: left;
	background-color: #efefef;
	vertical-align: text-top;
}

.td1 {
	font-size: 12px;
	font-weight: bold;
	background-color: #cccccc;
	vertical-align: text-top;
	color: #000000;
}

.cells {
	border-collapse:collapse;
	border:1px solid #cccccc;
	vertical-align: middle;
	text-align: center;
}

.tr_pen {
	color:#666666;
	font-size: 12px;
	font-weight: normal;
	text-align: left;
	background-color: #ffefef;
	vertical-align: text-top;
}

.trip {

	/*width: 150px;*/
	text-align: justify;
}

.style1 {

	color: #000000;

	font-weight: bold;

	font-size: 9px;

}

.bg_legendas {
	background-color:#CCCCCC;
}

.bg_header {
	background-color:#ffffff;
}